body {
    background-color: #b4b4b4;
    align-items: center;
}

.messages_area {
    width: 40%;
    height: 300px;
    overflow-y: auto;
    background: #ffffff;
    border-radius: 15px;
    padding: 15px 20px;
    box-shadow:
        inset 4px 4px 8px rgba(255, 255, 255, 0.7),
        inset -4px -4px 8px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    user-select: text;
    margin-bottom: 15px;
}
